#EstadoTareas{
    display: flex;
    flex-direction: row;
    border: 1px;
    padding: 1px; 

}

#containerToDo{
    background-color: rgb(255, 140, 140);
    width: 50em;
    height: 25em;
    margin-top: 2em;
}

#containerDoing{
    background-color: rgb(255, 253, 158);
    width: 50em;
    height: 25em;
    margin-top: 2em;
}

#containerDone{
    background-color:  rgb(158, 255, 163);
    width: 50em;
    height: 25em;
    margin-top: 2em;
}

.tareaAgregada{
    margin-top: 2em;
    margin-bottom: 2em;
    background: #EEE;
    width: 20em;
    padding: 0.5em;
    position: relative;
    border-radius: 0.5em;
    justify-content: center;
}

.deleteBtn{
    position: relative;
    background: rgb(255, 95, 95);
    border-radius: 0.5em;
}

.nextBtn{
    position: relative;
    background: rgb(112, 191, 255);
    border-radius: 0.5em;
}

.previousBtn{
    position: relative;
    background: rgb(255, 232, 101);
    border-radius: 0.5em;
}


